version: '3.4'

services:

  sead.query.api:
    image: sead_query_api:2022.04.14.rc1
    restart: always
    depends_on:
      - redis.cache
    #volumes:
    #    - appsettings.Production.json:/app/appsettings.json
    env_file: .env
    networks:
      sead_query_net:
        ipv4_address: 172.31.128.1

  redis.cache:
    image: "${REDIS_DOCKER_TAG:-redis:5-alpine}"
    command: ["redis-server", "--appendonly", "yes"]
    hostname: redis
    restart: always
    volumes:
      - ${REDIS_DATA_DIR:-/tmp}:/data:rw
      - /var/log:/var/log
      #- ${REDIS_CONF_FILE}:/etc/redis.conf:ro
    networks:
      sead_query_net:
        ipv4_address: 172.31.128.2

networks:
  sead_query_net:
    ipam:
      config:
        - subnet: 172.31.0.0/16
